{% extends "layout.html.j2" %}
{% block content %}
    <script defer type="module" src="{{ url_for('static', filename='js/textAreaInput.js') }}"></script>
    <script defer type="module" src="{{ url_for('static', filename='js/inputAreaInput.js') }}"></script>
    <script defer type="module" src="{{ url_for('static', filename='js/options.js') }}"></script>
    <div class="content_container">
        <div class="options">
            <button class="main_option" data-option="manual">Manual input</button>
            <button class="main_option" data-option="paste">Paste HTS codes</button>
            <button class="main_option" data-option="file">Upload file</button>
        </div>
    </div>
    <div data-optionContainer="paste" class="content_container">
        <form method="POST" action="/process_query" class="form_container">
            <label for="user_input">Paste your HTS codes in the box below</label>
            <textarea rows="5" readonly id="hts_txt_area" name="user_input" id="txt" placeholder="Each code should be separated by a new line, avoid using spaces or special characters to separate"></textarea>
            <button type="submit">Query</button>
            <button type="button" id="copy">Copy</button>
            <button type="button" id="clear_all">Clear all</button>
                <div id="error_container" class="err_container">
                <div class="content_container_errors_hts">
                    <p class="info_text">Following codes contain errors, they have been removed from the input</p>
                    <div id="error_list" class="item_container"></div>
                </div>
                <div class="content_container_errors_hts">
                    <p class="info_text">The following special characters were detected and removed from your input:</p>
                    <div id="punctuation_error_list" class="item_container">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div data-optionContainer="manual" class="content_container">
        <form method="POST" action="/process_query" class="form_container">
            <div id="manual_input_container" class="content_container">
                <label for="user_input_manual">Enter your HTS codes</label>
                <div class="input_field" data-container="0">
                    <input data-htsinput="0" name="user_input_manual">
                </div>
            </div>
            <p class="info_text" id="warning_input" style="display: none;">Please enter valid data for HTS search, only allowed numeric data and periods for HTS numbers</p>
            <button type="submit" id="submit_manual">Query</button>
        </form>
    </div>
    <div data-optionContainer="file" class="content_container">
        <h1>Upload your file with HTS numbers:</h1>
        <form method="POST" action="/process_file_query" class="form_container">
            <label for="user_input_file">Enter your CSV file with HTS codes</label>
            <input type="file" name="user_input_file" required>
            <button type="button" id="submit_file">Query</button>
        </form>
    </div>
{% endblock content %}