{% extends "layout.html.j2" %}
{% block content %}
    <script defer type="module" src="{{ url_for('static', filename='js/textAreaInput.js') }}"></script>
    <script defer type="module" src="{{ url_for('static', filename='js/inputAreaInput.js') }}"></script>
    <div class="content_container">
        <h1>Input your HTS numbers:</h1>
        <div class="hts_text_area">
            <form action="{{ url_for('process_query') }}" method="GET" class="form_container">
                <div id="copy_paste_input_containert">
                    <div>
                        <label for="user_input">Paste your HTS codes in the box below</label>
                        <textarea rows="5" readonly id="hts_txt_area" name="user_input" placeholder="Each code should be separated by a new line, avoid using spaces or special characters to separate"></textarea>
                    </div>
                    <button type="submit" name="action" value="copy_paste">Query</button>
                </div>
                <div>
                    <div id="manual_input_container" class="content_container">
                        <label for="user_input">Enter your HTS codes</label>
                        <input data-htsinput="0" name="user_input">
                    </div>
                    <p class="info_text" id="warning_input" style="display: none;">Please enter valid data for HTS search, only allowed numeric data and periods for HTS numbers</p>
                    <button type="submit" name="action" value="manual_input">Query</button>
                </div>
            </form>
            <div id="error_container" class="err_container">
                <div class="content_container_errors_hts">
                    <p class="info_text">Following codes contain errors, they have been removed from the input</p>
                    <div id="error_list" class="item_container"></div>
                </div>
                <div class="content_container_errors_hts">
                    <p class="info_text">The following special characters were detected and removed from your input:</p>
                    <div id="punctuation_error_list" class="item_container">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content_container">
        <h1>Upload your file with HTS numbers:</h1>
        <form action="{{ url_for('process_file_query') }}" method="GET" class="form_container">
            <label for="user_input">Enter your CSV file with HTS codes</label>
            <input type="file" name="user_input" required>
            <button>Query</button>
        </form>
    </div>
{% endblock content %}