<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% if title %}
        <title>HTS query - {{ title }}</title>
    {% else %}
        <title>HTS query</title>
    {% endif %}
</head>
<body>
    {% block content %}{% endblock content %}
</body>
</html>